
# Exploratory Data Analysis - Iris Dataset

**Author:** Brendon McNulty  
**Purpose:** Perform exploratory data analysis (EDA) using pandas, seaborn, and matplotlib.  
**Date:** September 16, 2025

## 1. Imports

In [8]:
import pandas as pd
import seaborn as sns
import matplotlib

# Axes object (basic plot type returned by Seaborn)
from matplotlib.axes import Axes

## 2. Load Data
Load the Iris dataset from Seaborn into a pandas DataFrame for exploration.

In [9]:
# Load the Iris dataset into pandas DataFrame
iris_df: pd.DataFrame = sns.load_dataset('iris')

# List column names
iris_df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [10]:
# Inspect first few rows of the DataFrame
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

## 3. Initial Data Inspection

In [11]:
# Show the first 10 rows
iris_df.head(10)

# Inspect the shape of the DataFrame
iris_df.shape

# Inspect the data types of each column
iris_df.dtypes

# Inspect more detailed information about the DataFrame
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB